
.MenuBar{
	 -fx-background-color: #C4F1EE;
	
}
.menu-bar .label{
	-fx-text-fill: #404040;
	-fx-font-size: 14 pt;
	-fx-border-color: #03FEEE;
	-fx-border-width: 3;
	-fx-font-family: "Comic Sans MS";
	
}

.menu-bar .label:hover { -fx-background-color: white;
               -fx-font-size: 17.0px;
}

.menu-bar .label:pressed { -fx-background-color: #FFFFFF;
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
}

.menu-item .label{
    -fx-font-size: 14 pt;
    -fx-text-fill: #404040;
}
Button { -fx-background-color: F955DE;
         -fx-border-color: #FFFFFF;
         -fx-border-width: 2;
         -fx-text-fill: #FFFFFF;
         -fx-font-family: "Times New Roman";
         -fx-font-style: italic;
         -fx-font-size: 15px;
         -fx-background-radius: 5 5 5 5;
         -fx-border-radius: 5 5 5 5;
}
