
.default-color0.chart-pie {-fx-pie-color: #fd8498;
}
.default-color1.chart-pie {-fx-pie-color: #fb9e86;
}
.default-color2.chart-pie {-fx-pie-color: #a5dcbf;
}
.default-color3.chart-pie {-fx-pie-color: #85a8fc;
}




.default-color0.chart-bar {-fx-bar-fill: #191919;
}




.chart-plot-background {
	-fx-background-color: #e2ecfe;
}
.chart-vertical-grid-lines {
	-fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
	-fx-stroke: #3278fa;
}
.chart-alternative-row-fill {
	-fx-fill: #99bcfd;
}


.default-color0.chart-area-symbol { -fx-background-color: #f0e68c, #fffacd; }
.default-color0.chart-series-area-line { -fx-stroke: #f0e68c; }
.default-color0.chart-series-area-fill { -fx-fill: #ffa07aaa }